.table {
  display: block;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  border: 1px solid #0000005b;
}

.table-heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  text-align: left;
}

.table th,
.table td {
  padding: 10px;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
}

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 100%;
}
